@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto";
}
  
  @layer components {
    .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }
    
  }

  .swiper-button-prev, .swiper-button-next{
    @apply !bg-black !px-4 md:!px-5 !py-1 md:!py-3
  }
  .swiper-button-prev::after, .swiper-button-next::after{
    @apply !text-base md:!text-xl !text-secondary
  }
  /* .swiper-button-prev:after, .swiper-button-next:after{
    @apply !text-base !lg:text-lg text-secondary;    
  }  */
